/* ----------------------------------------------
 * Core: Genral Layout Style
 * ---------------------------------------------- */
* {
  font-family: '微软雅黑', Microsoft YaHei, '宋体', Tahoma, Helvetica, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: '微软雅黑', Microsoft YaHei, '宋体', Tahoma, Helvetica, Arial, sans-serif;
  /*width: 100%;*/
}

sup {
	//color: #ff9b37!important;
  color:red!important;
	font-size: 100%!important;
	top: -.2em!important;
	margin-right: .3em!important;
}